.page {
  width: 80%;
  overflow: hidden;
}

.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  outline: 0;
  padding: 0 1.5rem;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background-color: #6383a8;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  margin-right: 5px;
}

.btn:hover {
  background-color: #6d8cb0
}

.h3 {
  font-size: 22px;
  margin: 10px 0 0;
}

.spinner {
  margin-left: 40px;
  line-height: 16px;
  vertical-align: middle;
  animation: spinner-animation 0.1s ease-in infinite alternate;
}

@keyframes spinner-animation {
  from {
    font-size: 0.5em;
  }
  to {
    font-size: 0.6em;
  }
}
